-cache [group, group.visible_to?(current_user)] do
  %div[group]
    .name=group.name
    - if group.visible_to?(current_user)
      .actions
        %ul
          %li= link_to 'Show', group
          %li= link_to 'Edit', edit_group_path(group)
          %li= link_to 'Destroy', group, :method => :delete, :data => { :confirm => 'Are you sure?' }


